body{
    padding: 0;
    margin: 0px;

}
#form
{
    width: 600px;
    height: 800px;
    margin: 0 auto;
}
#logo
{
    width: 40px;
    height: 40px;;
}
.card
{
    padding: 10px;
    margin: 10px;
    background-color: inherit;
    width: 250px;
}